.tally-warper .w1200{
    overflow: hidden;
}
.tally-warper .tally-top{
    padding: 16px 0;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.tally-warper .tally-top .back{
    display: inline-block;
}
.tally-warper .tally-top a{

}
.tally-warper .tally-top a img{

}
.tally-warper .tally-top .rf span{
    margin-left: 30px;
}
.tally-warper .tally-top .rf span i{
    font-size: 22px;
    margin-right: 3px;
}
.tally-warper .tally-main{
    /* background-color: gold; */
}
.tally-warper .tally-main .w1200{
    padding: 30px 20px 0;
    font-size: 14px;
}
.tally-warper .tally-main .tallyM-left{
    width: 842px;

}
.tally-warper .tally-main .tallyM-left .tallyM-L-tit{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding-left: 12px;
    background-color: #f5f5f5;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body{
    padding: 24px 12px 0;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section{
    margin-bottom: 24px;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section .warn6{
    margin: 0 160px 0 0;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section p{
    margin-right: 16px;
    margin-bottom: 12px;
    width: 265px;
    display: inline-block;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section input{
    width: 241px;
    height: 36px;
    padding: 0 12px;
    outline: none;
    color: #ccc;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section .section-per, .section-phon{
    width: 278px;
    height: 90px;
    vertical-align: bottom;
    display: inline-block;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section1 p{
    width: 180px;
    margin: 0 16px 12px 0;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section1 p:nth-child(3){
    margin-right: 158px;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section1 select{
    width: 180px;
    height: 36px;
    padding: 0 12px;
    outline: none;
    border: 1px solid #ccc;
    color: #ccc;
    margin-right: 16px;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section1 select:nth-child(3){
    margin-right: 222px;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section2 p{
    width: 572px;
    margin-bottom: 12px;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section2 textarea{
    width: 572px;
    height: 78px;
    padding: 6px 12px;
    display: block;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section2 span{
    font-size: 12px;
    /* display: block; */
}

.warn{
    font-size: 12px;
    color: #ed4040;
}

.tally-warper .tally-main .tallyM-left .tallyM-L-body .section3{
    color: #333;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section3 p{
    display: block;
}
.tally-warper .tally-main .tallyM-left .tallyM-L-body .section3 span:nth-child(3){
    margin-left: 56px;
}


.tally-warper .tally-main .tallyM-left .main2 ul{
    height: 220px;
    overflow: scroll;
    overflow-x: hidden;
}
.tally-warper .tally-main .tallyM-left .main2 ul li{
    padding: 20px 24px;
    list-style: none;
    /* background-color: green; */
    font-size: 14px;
    color: #333;
}
.tally-warper .tally-main .tallyM-left .main2 ul li img{
    width: 130px;
    height: 173px;
    margin: 0 16px;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info, .info2 , .info3{
    display: inline-block;
    vertical-align: top;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info1{
    display: inline-block;
    width: 270px;
    vertical-align: top;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info1 p{
    margin-bottom: 24px;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info1 span{
    padding-bottom: 6px;
    margin-right: 40px;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info1 span i{
    margin-right: 5px;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info1 .info1-p span{
    color: #999;
    display: block;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info1 .info1-p span i{
    font-style: normal;
    color: #333;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info2 p   span s{
    color: #999;
    font-size: 12px;
    margin-left: 8px;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info2{
    width: 104px;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info3{
    padding-left: 70px;
}
.tally-warper .tally-main .tallyM-left .main2 ul li .info3 p{
    text-align: right;
    width: 143px;
}


.tally-warper .tally-main .tallyM-left .main3{
    margin-top: 30px;
    padding: 0 12px;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body{
    margin-top: 25px;
    font-size: 14px;
    color: #333;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body input{
    width: 16px;
    height: 16px;
    vertical-align: sub;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body .defray1, .defray2, .defray3, .defray4{
    width: 200px;
    display: inline-block;
}
.defray1 i, .defray2 i, .defray3 i, .defray4 i{
    margin: 0 8px;
    font-size: 28px;
    vertical-align: sub;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body p{
    padding-right: 33px;
    padding-top: 5px;
    font-size: 12px;
    color: #9999;
    text-align: right;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body p a{
    color: #9999;
    text-decoration: none;
    margin-left: 14px;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body .defray-info{
    margin: 16px 0 56px;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body .defray-info i{
    font-size: 22px;
    vertical-align: middle;
}
.tally-warper .tally-main .tallyM-left .main3 .main3-body .btn{
    width: 310px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 3px;
    background-color: #122147;
    margin-bottom: 30px;
}
.tally-warper .tally-main .tallyM-right{
    width: 320px;
    /* background-color: deeppink; */
}
.tally-warper .tally-main .tallyM-right .excer{
    padding: 16px;
    background-color: #f5f5f5;
}
.tally-warper .tally-main .tallyM-right  li{
    list-style: none;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
.tally-warper .tally-main .tallyM-right .excer .excer-tit{
    font-size: 18px;
    padding-bottom: 16px;
}
.tally-warper .tally-main .tallyM-right .excer .excer-tit span{
    font-size: 12px;
    margin-top: 9px;
}
.tally-warper .tally-main .tallyM-right .excer .excer-tit span i{
    font-style: normal;
}
.tally-warper .tally-main .tallyM-right .excer .s p{
    margin: 16px 0;
}
.tally-warper .tally-main .tallyM-right .excer .s .tot2{
    font-style: normal;
}
.tally-warper .tally-main .tallyM-right .excer li .btn{
    width: 51px;
    height: 32px;
    line-height: 32px;
    color: #122147;
    border: 1px solid #000;
}
.tally-warper .tally-main .tallyM-right .excer .buy span{
    font-size: 18px;
}
.tally-warper .tally-main .tallyM-right .excer .buy p{
    margin: 15px 0 30px;
}
.tally-warper .tally-main .tallyM-right .excer .buy .tot2{
    font-style: normal;
}
.tally-warper .tally-main .tallyM-right .excer .buy .btn{
    width: 238px;
    padding: 0 24px;
    height: 38px;
    color: #fff;
    background-color: #122147;
    border: 1px solid #122147;
}
.tally-warper .tally-main .tallyM-right .help{
    border: 1px solid #ccc;
    padding: 16px;
    margin-top: 34px;
}
.tally-warper .tally-main .tallyM-right .help li:last-child{
    border-bottom: 0;
}
.tally-warper .tally-main .tallyM-right .help .help-tit{
    margin: 21px 0 16px;
    font-size: 16px;
}
.tally-warper .tally-main .tallyM-right .help  span{
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
.tally-warper .tally-main .tallyM-right .help  span i{
    font-style: normal;
}